<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <script type="text/javascript">
            {% include 'js/jquery.jsonrpc.js' %}
            $.jsonRPC.setup({
                endPoint: '{% url jsonrpc_mountpoint %}',
            });
            {% block js %}{% endblock %}
        </script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
